@import "tailwindcss";

@theme {
  --font-sans: 'Inter', system-ui, sans-serif;
  --color-primary-500: #8b5cf6;
  --color-primary-600: #7c3aed;
  --color-dark: #0f172a;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}
